<div id="headerWrapper">
  <div id="header">
    <div id="label">
      <h1 id="title">Juan de Dios Herrero Pérez</h1>

      <p class="address">
        <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            {
                coded = "ERASPhPLMbchKKhKM@k2ALB.NM2"
                key = "KU4Noiw6ROmhCGxkzWTIslfP3aZnHjFML79rY2c1X05uVvebBJgDA8SpEQdtyq"
                shift = coded.length
                link = ""
                for (i = 0; i < coded.length; i++) {
                    if (key.indexOf(coded.charAt(i)) == -1) {
                        ltr = coded.charAt(i)
                        link += (ltr)
                    }
                    else {
                        ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
                        link += (key.charAt(ltr))
                    }
                }
                document.write("<a href='mailto:" + link + "'>" + link + "</a>")
            }
            //-->
        </script>
      <noscript>Sorry, you need Javascript on to email me.</noscript>

      <!--For additional security it is advisable to encrypt this email id using http://hivelogic.com/enkoder/form -->
      <br/>
      <a href="http://www.juandediosherrero.es" class="external">www.juandediosherrero.es</a></p>
      <!-- end / #label -->
    </div>
    <div id="intro">
      <p><strong>Ingeniero Informático por la Universidad de Granada</strong>, mi campo de trabajo actualmente es el
        desarrollo web
        aunque me intereso casi por cualquier aspecto de la informática. Actualmente trabajo y vivo en Granada aunque
        soy antequerano
        de nacimiento. </p>
      <!-- end / #intro -->
    </div>
    <!-- end / #header -->
  </div>
  <!-- end / #headerWrapper -->
</div>
<div id="headerShadow">
  <!-- end / #headerShadow -->
</div>
<div id="contentWrapper" class="clearfix">
<div id="sidebar">
  <div id="avatar">
    <a class="top" href="javascript:void(0);" title="Volver al inicio"><%= image_tag 'curriculum/avatar.jpg', :alt => 'Juan de Dios' %></a>
  </div>
  <ul id="navMain">
    <!-- You can change the order of the menu here -->
    <li><a href="#education">Educación</a></li>
    <li><a href="#personal_skills">Capacidades personales</a></li>
    <li><a href="#work">Experiencia laboral</a></li>
    <li><a href="#contact">Contacto</a></li>
    <!-- end / #navMain -->
  </ul>
  <ul id="networkLinks">
    <li class="divider">
      <a href="#"><%= image_tag 'curriculum/layout/pdf.png', :alt => 'Descarga mi CV en pdf', :class => 'tooltip' %></a>
    </li>
    <li>
      <%= link_to 'http://es.linkedin.com/in/juandediosherrero', :class => 'external' do %>
          <%= image_tag 'curriculum/profiles/linkedin.png', :alt => 'Visita mi linkedIn', :class => 'tooltip' %>
      <% end %>
    </li>
    <!-- end / #networkLinks -->
  </ul>
  <!-- end / #sidebar -->
</div>
<div id="content">
<!-- Education Section Begins -->
<div id="education" class="section">
  <h2>Educación</h2>

  <h3>Universidad de Granada (ETSIIT) <em class="floatRight">2003 - 2010</em></h3>

  <h4>Cualificación obtenida</h4>

  <p>Ingeniería Informática</p>

  <h4>Principales materias o capacidades profesionales estudiadas y adquiridas</h4>

  <p>
  <ul class="disc">
    <li>Desarrollo de aplicaciones mediante diferentes lenguajes de programación</li>
    <li>Desarrollo de aplicaciones mediante diferentes paradigmas de programación</li>
    <li>Diseño y manejo de Bases de Datos relacionales</li>
    <li>Conocimientos acerca del funcionamiento de Sistemas Operativos</li>
    <li>Conocimientos acerca de arquitectura y redes de computadores</li>
    <li>Conocimientos acerca de procesadores de lenguajes</li>
    <li>Capacidad de trabajo en grupo</li>
    <li>Capacidad de aprendizaje autodidacta</li>
    <li>Iniciativa propia</li>
  </ul>
  </p>

  <h3>Centro de formación continua (Universidad de Granada) <em class="floatRight">2004</em></h3>

  <h4>Cualificación obtenida</h4>

  <p>Desarrollo de servicios interactivos mediante una interfaz WEB</p>

  <h4>Principales materias o capacidades profesionales estudiadas y adquiridas</h4>

  <p>
  <ul class="disc">
    <li>Programación PHP</li>
    <li>DBMS MySQL</li>
  </ul>
  </p>

  <h3>Centro de formación continua (Universidad de Granada) <em class="floatRight">2004</em></h3>

  <h4>Cualificación obtenida</h4>

  <p>Diseño y programación WEB</p>

  <h4>Principales materias o capacidades profesionales estudiadas y adquiridas</h4>

  <p>
  <ul class="disc">
    <li>Programación HTML</li>
    <li>Programación Javascript</li>
    <li>Hojas de estilo en cascada (CSS)</li>
  </ul>
  </p>

  <h3>Centro de formación continua (Universidad de Granada) <em class="floatRight">2009</em></h3>

  <h4>Cualificación obtenida</h4>

  <p>Servicios web en Java</p>

  <h4>Principales materias o capacidades profesionales estudiadas y adquiridas</h4>

  <p>
  <ul class="disc">
    <li>Programación de servicios web en Java</li>
    <li>Acceso a servicios web desde Java</li>
    <li>Uso de los WSDL</li>
    <li>XML</li>
  </ul>
  </p>


  <!-- end #education -->
</div>

<div id="personal_skills" class="section">

  <h2>Capacidades personales</h2>

  <h4>Idioma materno</h4>

  <p>Español</p>

  <h4>Otros idiomas</h4>

  <p>Inglés (Título PET de la universidad de Cambridge)</p>

  <p>Autoevaluación nivel europeo (según MECR)</p>
  <table summary="Autoevaluación nivel de Inglés." class="default page-break">
    <tbody>
    <tr>
      <th scope="row">Comprensión auditiva</th>
      <td>B2</td>
    </tr>
    <tr>
      <th scope="row">Lectura</th>
      <td>B2</td>
    </tr>
    <tr>
      <th scope="row">Interacción oral</th>
      <td>B2</td>
    </tr>
    <tr>
      <th scope="row">Capacidad oral</th>
      <td>B2</td>
    </tr>
    <tr>
      <th scope="row">Escritura</th>
      <td>B2</td>
    </tr>
  </table>

  <h4>Capacidades y competencias sociales</h4>

  <p>Gran capacidad de comunicación y trato con las personas</p>

  <h4>Capacidades y competencias organizativas</h4>

  <p>Buena capacidad de trabajo en equipo y resolutivo></p>

  <h4>Capacidades y competencias técnicas</h4>

  <p>
  <ul class="disc">
    <li>Programación estructurada y orientada a objetos (Java, C++…)</li>
    <li>Framework de desarrollo web Ruby on Rails</li>
    <li>Tecnologías de desarrollo web (HTML, CSS, servicios AJAX, JQuery, Zepto…)</li>
    <li>Facilidad de aprendizaje de lenguajes de programación</li>
    <li>Conocimiento de arquitectura y redes de computadores</li>
    <li>Conocimiento profundo del CMS Joomla!</li>
    <li>Programación de componentes, módulos y plugins para el CMS Joomla!</li>
    <li>Conocimiento profundo del Framework de desarrollo de Joomla!</li>
    <li>Instalación y uso de servidores web y de bases de datos libres (Apache, MySQL…)</li>
  </ul>
  </p>

  <h4>Capacidades y competencias informáticas</h4>

  <p>
  <ul class="disc">
    <li>Manejo de Sistemas Operativos Windows y Unix (Linux, OSX)</li>
    <li>Manejo de paquetes ofimáticos a un nivel alto</li>
  </ul>
  </p>

</div>

<!-- Work History Section Begins -->
<div id="work" class="section">
  <h2>Experiencia laboral</h2>

  <h3>Publicis Healthcare Communications Group - NUATT</h3>

  <h4>Analista / programador web <em class="floatRight">Marzo 2011 - Presente</em></h4>

  <h5>Funciones y responsabilidades principales</h5>

  <p>Desarrollo de aplicaciones varias, principalmente web (centrado sobre todo en la tecnología Ruby on Rails) y para
    dispositivos móviles. Entre las tecnologías empleadas en el desempeño en la empresa se encuentran:</p>

  <p>
  <ul class="disc">
    <li>Ruby on Rails</li>
    <li>JQuery / Zepto</li>
    <li>HTML/CSS</li>
    <li>Ajax</li>
    <li>Phonegap para el desarrollo sobre HTML y JavaScript de aplicaciones para dispositivos móviles (iPhone, Android y
      BlackBerry)
    </li>
    <li>Framework de desarrollo JavaScript “Backbone JS”</li>
    <li>Desarrollo de extensiones para el lenguaje de creación de templates “Liquid”</li>
    <li>Bases de datos relacionales MySQL y documentales MongoDB</li>
  </ul>
  </p>

  <h5>Nombre y dirección de la empresa o empleador</h5>

  <p>Nuatt, compañía que forma parte de “Publicis Healthcare Communications Group” en España. Barcelona Gran Vía, 16-20
    5ª planta 08902 Hospitalet de Llobregat (Barcelona). Granada, Puentezuelas 3 3ºB 18002 (Granada)</p>

  <h5>Tipo de empresa o sector</h5>

  <p>Desarrollo de proyectos digitales varios (Aplicaciones web, aplicaciones para dispositivos móviles…)</p>

  <h3>Universidad de Granada</h3>

  <h4>Desarrollador web <em class="floatRight">Durante 2009</em></h4>

  <p>Desarrollo de un portal web para la Facultad de Ciencias de la Actividad Física y el Deporte (FCCAFD) de la
    Universidad de Granada (http://deporte.ugr.es)</p>

  <h5>Funciones y responsabilidades principales</h5>

  <p>Único responsable del desarrollo del portal web y de su puesta en marcha en un servidor dedicado adquirido por la
    propia facultad.</p>

  <h5>Nombre y dirección de la empresa o empleador</h5>

  <p>Universidad de Granada</p>

  <h5>Tipo de empresa o sector</h5>

  <p>Universidad (Facultad de Ciencias de la Actividad Física y el Deporte)</p>


  <!-- end #work -->
</div>

<!--&lt;!&ndash; Contact Section Begins &ndash;&gt;-->
<!--<div id="contact" class="section">-->
  <!--<h2>Contacto</h2>-->
  <!--<h4>Juan de Dios Herrero Pérez</h4>-->

  <!--<div id="note"></div>-->
  <!--<form action="javascript:alert('error!');" class="contact">-->
    <!--&lt;!&ndash; Change your email id in the config.php file &ndash;&gt;-->
    <!--<div class="field">-->
      <!--<label for="name">Nombre</label>-->
      <!--<input type="text" name="name" id="name" value="" class="text"/>-->
    <!--</div>-->
    <!--<div class="field">-->
      <!--<label for="email">E-Mail</label>-->
      <!--<input type="text" name="email" id="email" value="" class="text"/>-->
    <!--</div>-->
    <!--<div class="field">-->
      <!--<label for="message">Mensaje</label>-->
      <!--<textarea class="textbox" name="message" id="message" rows="3" cols="25"></textarea>-->
    <!--</div>-->
    <!--<div class="buttons">-->
      <!--<input type="submit" value="Enviar" class="submit"/>-->
      <!--<input type="reset" value="Borrar" class="submit reset"/>-->
    <!--</div>-->
  <!--</form>-->

  <!--&lt;!&ndash; end #contact &ndash;&gt;-->
<!--</div>-->
<!-- end #content -->
</div>
<!-- end #contentWrapper -->
</div>
<div id="footer">
  <div id="copyright">
    <p>Theme by <a href="http://mustafaquilon.com" class="external">Mustafa Quilon</a> &amp; Themeforest. All Rights
      Reserved.</p>
    <!-- end #copyright -->
  </div>
  <!-- end #footer -->
</div>

